<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Sample App</title>
  <link href="/assets/style.css" rel="stylesheet">
</head>

<body>
  <script src="/assets/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <table border="1" class="todo_tb">
    <tr>
      <th>index</th>
      <th>name</th>
      <th>age</th>
    </tr>
    {{ range $index, $u := .users }}
    <tr>
      <td>{{ $u.Id }}</td>
      <td>{{ $u.Name }}</td>
      <td>{{ $u.Age }}</td>
    </tr>
      
    {{end}}
  </table>

  <div class="container">
    <form action="＃" method="get" class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="form-group">
          <label for="name"><span class="label label-danger">必須</span> お名前</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="例：ジャングル オーシャン" autofocus required>
        </div>
      
        <div class="form-group">
          <label for="age"> 年齢</label>
          <select id="age" name="age" class="form-control">
            <option value="">選択してください</option>
            {{ range .array}}
              <option value={{.}}>{{.}}</option>
            {{ end }}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">送信する</button>
      </div>
    </form>
  </div>

</body>