<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Sample App</title>
  <link href="/assets/style.css" rel="stylesheet">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  
  <div class="container">
    <table border="1" class="table">
      <tr>
        <th>index</th>
        <th>name</th>
        <th>age</th>
        <th>Delete</th>
      </tr>
      {{ range $index, $u := .users }}
      <tr>
        <td>{{ $u.Id }}</td>
        <td>{{ $u.Name }}</td>
        <td>{{ $u.Age }}</td>
        <td><button value={{$u.Id}} class="btn btn-danger deleteButton">Delete</td>
      </tr>
      {{end}}
    </table>
  </div>
  

  <script src="/assets/index.js"></script>
</body>